div {
  width: 350px;
  margin: 50px auto;
}
h1 {
  text-align: center;
  margin: 30px;
  color: blue;
}
div :first-child {
  border: 3px solid green;
  padding: 7px 30px;
  background: none;
  color: green;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

div :last-child {
  border: 3px solid red;
  padding: 7px 30px;
  background: none;
  color: red;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
